<!--страница редактирование объявления-->

{% extends 'flatpages/default.html' %}

{% block title %} Редактировать объявление {% endblock title %}

{% load static %}
<script type="text/javascipt" scr="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascipt" scr="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% block content %}

<br><h3>Редактировать объявление</h3><br>

<form align="left" method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.title }}<br>
    {{ form.content }}<br><br>
    {{ form.post_category }}<br><br>
    <input type="submit" value="Сохранить изменения">
</form>

{% endblock content %}